html,body { 
      height: 100%; 
      margin:0;
    }
    .mywrapper {
        min-height:100%; 
        position:relative; 
    }
    .content{
      /*padding-bottom = высота футера */
      padding-bottom: 50px;
    }
    .myfooter { 
        position:absolute; 
        left:0; 
        right:0; 
        bottom:0; 
        /* высота футера */
        height:50px; 
        background-color:tomato;
    }